[submodule "geoserver-core/geotools"]
	path = geoserver-core/geotools
	url = git://github.com/boundlessgeo/geotools.git
[submodule "geoserver-core/geoserver"]
	path = geoserver-core/geoserver
	url = git://github.com/boundlessgeo/geoserver.git
[submodule "geoserver-core/geowebcache"]
	path = geoserver-core/geowebcache
	url = git://github.com/boundlessgeo/geowebcache.git
[submodule "geoserver-exts/geoserver-exts"]
	path = geoserver-exts/geoserver-exts
	url = git://github.com/boundlessgeo/geoserver-exts.git
[submodule "geoserver-exts/geoscript/py"]
	path = geoserver-exts/geoscript/py
	url = git://github.com/geoscript/geoscript-py.git
[submodule "geoserver-core/data_dir/externals/suite-data"]
	path = geoserver-core/data_dir/externals/suite-data
	url = https://github.com/boundlessgeo/suite-data.git
[submodule "composer/composer"]
	path = composer/composer
	url = git@github.com:boundlessgeo/composer.git
[submodule "wps-builder/wps-gui"]
	path = wps-builder/wps-gui
	url = https://github.com/boundlessgeo/wps-gui.git
[submodule "geoserver-exts/geomesa/geomesa"]
	path = geoserver-exts/geomesa/geomesa
	url = https://github.com/boundlessgeo/geomesa.git
	branch = opengeo_suite_4.8
